/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

body {
  background-color:     #000000 
}

/* Our default values set as CSS variables */
.styled {
    border: 0;
    line-height: 3.5;
    padding: 0 40px;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.flex-container {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap:wrap;
  justify-content:center;
}

.flex-container > * {
  background-color:   #99e2ff;
  padding: 20px;
  margin:10px;
}

.main-section {
  flex-grow: 2;
  display:flex;
}

.header {
  text-align:center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 80px;
  font-weight: bold; 
  color:black;
}

.footer {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bold; 
  color:black;
}

.mainbtn {
  margin:auto;
  justify-content:center;
  background-color: #8ee7f0 ;
/*   padding-top:40px;
  padding-bottom:40px; */
/*   padding-right:150px;
  padding-left:150px; */
  min-height:60vh;
  font-family:'Trebuchet MS', sans-serif;
  font-weight:bold;
  font-size:50px;
  border: 5px solid black;
  border-radius: 15px;
  min-width:100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainbtn:active {
  transform: translateY(8px);
}

#ctrbtn {
  display:none;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  color: white;
  background-color: #000000;
  margin: auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

